In [20]:
import numpy as np
import pandas as pd
# import bamboolib as bam

In [21]:
df_ratings = pd.read_csv("../data/openlens/ratings.csv")
df_ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [14]:
# np_movieIds= np.zeros((1,len(df_ratings["movieId"].unique())))
# df_ratings.columns

##This method creates a user-item matrix by transforming the seen items
##to 1 and adding unseen items as 0.
##Shape: (n_user, n_items)
def create_user_item_matrix(df):
    unique_movies = len(df["movieId"].unique())
    unique_users = len(df["userId"].unique())
    np_user_item_mx = np.zeros((unique_users,unique_movies))

    for user_id in unique_users:
        print("UserId: {} ".format(user_id))
        ls_seen_items = df.loc[df[user_id] == 1]["movieId"].values
        np_user_item_mx[user_id][ls_seen_items] = 1
    return np_user_item_mx

     userId  movieId  rating  timestamp
0         1        1     4.0  964982703
1         1        3     4.0  964981247
2         1        6     4.0  964982224
3         1       47     5.0  964983815
4         1       50     5.0  964982931
..      ...      ...     ...        ...
227       1     3744     4.0  964980694
228       1     3793     5.0  964981855
229       1     3809     4.0  964981220
230       1     4006     4.0  964982903
231       1     5060     5.0  964984002

[232 rows x 4 columns]

In [2]:
import numpy as np
np_test_one = np.random.rand(1,3)
np_test_two = np.zeros((1,3))
np_test_one[0][0]=0
np_test_two[0][1]=1